{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>#}
{#<script src="{% static 'popper.min.js' %}"></script>#}
{#<script src="{% static 'tooltip.min.js' %}"></script>#}
{#<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>#}
{#</html>#}
{%  extends "awesome_sharing_courses_resources/basic.html" %}
{% block body %}
<form>
{#  <div class="form-group">#}
{#    <label for="exampleFormControlFile1">Example file input</label>#}
{#    <input type="file" class="form-control-file" id="exampleFormControlFile1">#}
{#  </div>#}
{#    <div class="form-group">#}
{#        <label class="col-sm-3 control-label">#}
{#            Attachment(s)#}
{#            (Attach multiple files.)#}
{#        </label>#}
{#        <div class="col-sm-9">#}
{#                            <span class="btn btn-default btn-file">#}
{#                                <input id="input-2" name="input2[]" type="file" class="file" multiple#}
{#                                       data-show-upload="true" data-show-caption="true">#}
{#                            </span>#}
{#        </div>#}
{#    </div>#}
</form>
{% endblock %}